@charset "UTF-8";
.header {
  position: relative;
  max-width: 1456px;
  max-height: 870px;
  background: -webkit-gradient(linear, left top, right top, from(#1E3C72), color-stop(1%, #1E3C72), to(#2A5298));
  background: linear-gradient(90deg, #1E3C72 0%, #1E3C72 1%, #2A5298 100%);
}

.header .header__block {
  width: 100%;
  height: 100%;
}

.header .header__block .header__moon {
  position: absolute;
  height: 313px;
  left: 135px;
  top: -177.4px;
  -webkit-transform: rotate(99.41deg);
  transform: rotate(99.41deg);
  z-index: 1;
}

.header .header__block .heade__logo {
  position: absolute;
  width: 256px;
  height: 57px;
  left: 161px;
  top: 18px;
  z-index: 2;
}

.header .header__block .header__top-a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 281px;
  height: 25px;
  left: 990px;
  top: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__block .header__top-a a {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 133%;
  letter-spacing: 0.03em;
}

.header .header__block .header__block__info {
  z-index: 2;
  position: absolute;
  width: 713px;
  height: 378px;
  left: 155px;
  top: 250px;
  padding: 10px 10px 10px 10px;
}

.header .header__block .header__block__info .header__textInfo {
  font-style: normal;
  font-weight: 900;
  font-size: 62px;
  line-height: 124%;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 4px;
}

.header .header__block .header__block__info .header__text {
  font-style: normal;
  font-size: 18px;
  line-height: 176.8%;
  letter-spacing: 1.5px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 32px;
}

.header .header__block .header__block__info button {
  background-color: Transparent;
  width: 160px;
  height: 53px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-right: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 68px;
  cursor: pointer;
}

.header .header__block .header__block__info button:hover {
  background-color: #FFFFFF;
  color: #1E3C72;
}

.header .header__block .container {
  z-index: 1;
  position: absolute;
  width: 591.5px;
  height: 655px;
  left: 1081px;
  top: 421px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: translate3d(-50%, -50%, 600px);
          transform: translate3d(-50%, -50%, 600px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__block .header__block__cards .planet {
  margin: auto;
  position: absolute;
  cursor: pointer;
}

.header .header__block .header__block__cards .about__cards {
  min-width: 329px;
  height: 575px;
  background: #FFFFFF;
  -webkit-box-shadow: 3px 3px 38px 9px #192E55;
          box-shadow: 3px 3px 38px 9px #192E55;
  border-radius: 8px;
  margin-right: 40px;
}

.header .header__block .header__block__cards .about__cards .cards-img {
  width: 302px;
  height: 475px;
  margin-left: 14px;
  margin-top: 12px;
}

.header .header__block .header__block__cards .about__cards .cards-img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.header .header__block .header__block__cards .card__collection {
  margin: 8px 0 0 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #747474;
}

.header .header__block .header__block__cards .card__name {
  margin: 8px 0 0 12px;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: #202020;
}

.block__icon {
  position: relative;
  width: 1437px;
  height: 593px;
}

.block__icon img {
  margin-top: -77px;
}

.block__icon .block__icon__text {
  left: 260px;
  top: 95px;
  position: absolute;
  height: 395px;
  width: 920px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 6px 43px rgba(30, 60, 114, 0.3);
          box-shadow: 5px 6px 43px rgba(30, 60, 114, 0.3);
  border-radius: 8px;
}

.block__icon .block__icon__text img {
  position: absolute;
  margin-top: -172px;
}

.block__icon .block__icon__text .text__block {
  width: 629px;
  height: 300px;
  margin-top: 45px;
  margin-left: 210px;
}

.block__icon .block__icon__text .text__block .logo {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 133%;
  color: #1E3C72;
}

.block__icon .block__icon__text .text__block .info {
  margin-top: 18px;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 140%;
  color: #1E3C72;
}

.block__icon .block__icon__text .text__block .text {
  margin-top: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 165%;
  color: #2A5298;
}

.block__icon .block__icon__text .circles {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.block__icon .block__icon__text .circles .circle_1 {
  position: absolute;
  width: 31px;
  height: 31px;
  left: 836px;
  top: 11px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3DD4), to(#2A5298));
  background: linear-gradient(180deg, #DC3DD4 0%, #2A5298 100%);
}

.block__icon .block__icon__text .circles .circle_2 {
  position: absolute;
  width: 20.11px;
  height: 20.11px;
  left: 878px;
  top: 30px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3DD4), to(#2A5298));
  background: linear-gradient(180deg, #DC3DD4 0%, #2A5298 100%);
}

.block__icon .block__icon__text .circles .circle_3 {
  position: absolute;
  width: 14.24px;
  height: 14.24px;
  left: 860px;
  top: 72px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3DD4), to(#2A5298));
  background: linear-gradient(180deg, #DC3DD4 0%, #2A5298 100%);
}

.block__icon .block__icon__text .circles .circle_4 {
  position: absolute;
  width: 16.89px;
  height: 16.89px;
  left: 688px;
  top: 344px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3DD4), to(#2A5298));
  background: linear-gradient(180deg, #DC3DD4 0%, #2A5298 100%);
  -webkit-transform: rotate(70.8deg);
          transform: rotate(70.8deg);
}

.block__icon .block__icon__text .circles .circle_5 {
  position: absolute;
  width: 10.96px;
  height: 10.96px;
  left: 690px;
  top: 367px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3DD4), to(#2A5298));
  background: linear-gradient(180deg, #DC3DD4 0%, #2A5298 100%);
  -webkit-transform: rotate(70.8deg);
          transform: rotate(70.8deg);
}

.block__icon .block__icon__text .circles .circle_6 {
  position: absolute;
  width: 7.76px;
  height: 7.76px;
  left: 668px;
  top: 366px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#DC3DD4), to(#2A5298));
  background: linear-gradient(180deg, #DC3DD4 0%, #2A5298 100%);
  -webkit-transform: rotate(70.8deg);
          transform: rotate(70.8deg);
}

.block__summoned {
  position: relative;
  width: 1437px;
  height: 467px;
  background: -webkit-gradient(linear, left top, right top, from(#1E3C72), color-stop(1%, #1E3C72), to(#2A5298));
  background: linear-gradient(90deg, #1E3C72 0%, #1E3C72 1%, #2A5298 100%);
}

.block__summoned .block__summoned__center {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__summoned .block__summoned__center .block__summoned__logo {
  font-style: normal;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 10px;
  font-size: 36px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.block__summoned .block__summoned__center .block__summoned__img {
  margin-top: 60px;
  height: 52.46px;
  width: 626.7px;
  mix-blend-mode: color-dodge;
}

.block__summoned .block__summoned__center .block__summoned__percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.block__summoned .block__summoned__center .block__summoned__percent p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 57px 0 57px;
}

.block__summoned .block__summoned__center .block__summoned__percent .band {
  height: 1px;
  width: 475px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.block__summoned .block__summoned__center .block__summoned__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 50px;
  margin-top: 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 80px;
}

.block__summoned .block__summoned__center .block__summoned__sum p {
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.choose__a__coin {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1437px;
  height: 727px;
}

.choose__a__coin .block__coin {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose__a__coin .block__coin .logo__coin {
  margin-top: 69px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 133%;
  color: #1E3C72;
}

.choose__a__coin .block__coin .coin__band {
  width: 1110.02px;
  height: 1px;
  margin-top: 25px;
  border: none;
  background-color: #CCCCCC;
}

.choose__a__coin .block__coin .coin__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 842px;
  height: 100px;
  z-index: 10;
}

.choose__a__coin .block__coin .coin__slider .coin__slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79.26px;
  height: 80.06px;
  border-radius: 50%;
}

.choose__a__coin .block__coin .coin__slider .coin__slider__card .ellipse {
  display: none;
  width: 60px;
  margin-top: -7px;
  margin-left: -7px;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
}

.choose__a__coin .block__coin .coin__slider .coin__slider__card img {
  z-index: 2;
  border-radius: 50%;
}

.choose__a__coin .block__coin .coin__slider .coin__slider__card .circle {
  position: absolute;
  margin-top: 57px;
  margin-left: 56px;
  width: 30px;
  height: 29px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.77%, #D851D2), color-stop(101.77%, #38529D));
  background: linear-gradient(270deg, #D851D2 1.77%, #38529D 101.77%);
  z-index: 3;
}

.choose__a__coin .block__coin .coin__slider .coin__slider__card .circle img {
  width: 13px;
  height: 13px;
  margin-top: 8px;
  margin-left: 9px;
}

.choose__a__coin .block__coin .coin__slider__card:hover {
  width: 100.26px;
  height: 100.06px;
}

.choose__a__coin .block__coin .coin__slider__card:hover .ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__a__coin .block__coin .coin__slider__card:hover .circle {
  margin-top: 70px;
  margin-left: 68px;
  width: 35px;
  height: 37px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.choose__a__coin .block__coin .coin__slider__card:hover .circle img {
  width: 17px;
  height: 16px;
  margin-top: 11px;
  margin-left: 10px;
}

.choose__a__coin .block__coin .coin__info {
  position: relative;
  height: 413px;
  margin-top: 43px;
}

.choose__a__coin .block__coin .coin__info .coin__info__center {
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__img .img__mask {
  width: 622.18px;
  height: 622.18px;
  margin-left: 161.01px;
  margin-top: -95px;
  z-index: 1;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__img .img__persons {
  position: absolute;
  width: 279.18px;
  height: 444.85px;
  left: 337.69px;
  top: -8.7px;
  mix-blend-mode: normal;
  -webkit-filter: drop-shadow(3px 2px 6px rgba(32, 32, 32, 0.5));
          filter: drop-shadow(3px 2px 6px rgba(32, 32, 32, 0.5));
  z-index: 2;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text {
  width: 50%;
  height: 100%;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  height: 310px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 55px;
  margin-left: 100px;
  padding: 3px 10px 10px 10px;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text .character {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  color: #1E3C72;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text .collection {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: #1E3C72;
  margin-top: 8px;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #375D9F;
  margin-top: 10px;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text button {
  width: 79.58px;
  height: 36.35px;
  margin-top: 45px;
  margin-right: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 8px;
  cursor: pointer;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text button img {
  width: 20px;
  height: 20px;
}

.choose__a__coin .block__coin .coin__info .coin__info__center .coin__info__text .form__text button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.choose__a__cost {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1437px;
  height: 727px;
}

.choose__a__cost .block__cost {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose__a__cost .block__cost .logo__cost {
  margin-top: 69px;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 133%;
  color: #1E3C72;
}

.choose__a__cost .block__cost .cost__band {
  width: 1110.02px;
  height: 1px;
  margin-top: 25px;
  border: none;
  background-color: #CCCCCC;
}

.choose__a__cost .block__cost .cost__slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 842px;
  height: 100px;
  z-index: 10;
}

.choose__a__cost .block__cost .cost__slider .cost__slider__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 79.26px;
  height: 80.06px;
  border-radius: 50%;
}

.choose__a__cost .block__cost .cost__slider .cost__slider__card .ellipse {
  -webkit-transform: scale(-1);
          transform: scale(-1);
  display: none;
  width: 60px;
  margin-top: -7px;
  margin-left: 50px;
  position: absolute;
  z-index: 1;
  border-radius: 3px;
}

.choose__a__cost .block__cost .cost__slider .cost__slider__card img {
  z-index: 2;
  border-radius: 50%;
}

.choose__a__cost .block__cost .cost__slider .cost__slider__card .circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
  margin-left: 18px;
  width: 46px;
  height: 22px;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.77%, #D851D2), color-stop(101.77%, #38529D));
  background: linear-gradient(270deg, #D851D2 1.77%, #38529D 101.77%);
  z-index: 3;
  border-radius: 4px;
}

.choose__a__cost .block__cost .cost__slider .cost__slider__card .circle p {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 133%;
  color: #FFFFFF;
}

.choose__a__cost .block__cost .cost__slider__card:hover {
  width: 100.26px;
  height: 100.06px;
}

.choose__a__cost .block__cost .cost__slider__card:hover .ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose__a__cost .block__cost .cost__slider__card:hover .circle {
  margin-top: 86px;
  margin-left: 25px;
  width: 51px;
  height: 24px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.choose__a__cost .block__cost .cost__info {
  position: relative;
  height: 413px;
  margin-top: 43px;
}

.choose__a__cost .block__cost .cost__info .cost__info__center {
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__img .img__mask {
  width: 622.18px;
  height: 622.18px;
  margin-left: -60px;
  margin-top: -112px;
  z-index: 1;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__img .img__persons {
  position: absolute;
  width: 238px;
  height: 537px;
  left: 850.69px;
  top: -89.7px;
  mix-blend-mode: normal;
  -webkit-filter: drop-shadow(3px 2px 6px rgba(32, 32, 32, 0.5));
          filter: drop-shadow(3px 2px 6px rgba(32, 32, 32, 0.5));
  z-index: 2;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text {
  width: 50%;
  height: 100%;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text .form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 380px;
  height: 310px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  margin-left: 250px;
  padding: 3px 10px 10px 10px;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text .form__text .character {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 133%;
  color: #1E3C72;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text .form__text .collection {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
  color: #1E3C72;
  margin-top: 8px;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text .form__text .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #375D9F;
  margin-top: 10px;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text .form__text button {
  width: 79.58px;
  height: 36.35px;
  margin-top: 45px;
  margin-right: 5px;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 8px;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 133%;
  color: #FFFFFF;
}

.choose__a__cost .block__cost .cost__info .cost__info__center .cost__info__text .form__text button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.person__character {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1437px;
  height: 728px;
}

.person__character .person {
  width: 60%;
  height: 100%;
}

.person__character .person .ellipse {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 104.5px;
  top: 96.5px;
  border-radius: 50%;
  -webkit-clip-path: polygon(18% 61%, 103% 41px, 72% 711%, 36% calc(76% - 113px));
          clip-path: polygon(18% 61%, 103% 41px, 72% 711%, 36% calc(76% - 113px));
  -webkit-transform: rotate(321deg);
          transform: rotate(321deg);
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#1E3C72), color-stop(1%, #1E3C72), to(#2A5298));
  background: linear-gradient(90deg, #1E3C72 0%, #1E3C72 1%, #2A5298 100%);
}

.person__character .person .ellipse .bacground__img {
  position: absolute;
  width: 863.39px;
  height: 838.39px;
  left: -146px;
  top: -180px;
  border-radius: 100px;
  -webkit-transform: matrix(-0.71, 0.7, 0.7, 0.71, 0, 0);
          transform: matrix(-0.71, 0.7, 0.7, 0.71, 0, 0);
}

.person__character .person .circles__Text {
  position: absolute;
  width: 340px;
  height: 500px;
  left: 493px;
  top: 95px;
}

.person__character .person .circles__Text .circle_1 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 1.5px;
  top: 20.5px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.77%, #D851D2), color-stop(101.77%, #38529D));
  background: linear-gradient(270deg, #D851D2 1.77%, #38529D 101.77%);
}

.person__character .person .circles__Text .text_1 {
  position: absolute;
  width: 225px;
  height: 50px;
  top: 4px;
  left: 37px;
}

.person__character .person .circles__Text .circle_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 111.5px;
  top: 130.5px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.77%, #D851D2), color-stop(101.77%, #38529D));
  background: linear-gradient(270deg, #D851D2 1.77%, #38529D 101.77%);
}

.person__character .person .circles__Text .text_2 {
  position: absolute;
  width: 184px;
  height: 50px;
  top: 129px;
  left: 145px;
}

.person__character .person .circles__Text .circle_3 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 140.5px;
  top: 310.5px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.77%, #D851D2), color-stop(101.77%, #38529D));
  background: linear-gradient(270deg, #D851D2 1.77%, #38529D 101.77%);
}

.person__character .person .circles__Text .text_3 {
  position: absolute;
  width: 104px;
  height: 28px;
  top: 314px;
  left: 177px;
}

.person__character .person .circles__Text .circle_4 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 67.5px;
  top: 453.5px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(1.77%, #D851D2), color-stop(101.77%, #38529D));
  background: linear-gradient(270deg, #D851D2 1.77%, #38529D 101.77%);
}

.person__character .person .circles__Text .text_4 {
  position: absolute;
  width: 172px;
  height: 28px;
  top: 467px;
  left: 101px;
}

.person__character .person .circles__Text .cap {
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 133%;
  color: #1E3C72;
}

.person__character .person .circles__Text .text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 133%;
  color: #2A5298;
}

.person__character .person .circle {
  position: absolute;
  width: 464px;
  height: 464px;
  left: 154.5px;
  top: 140.5px;
  border-radius: 50%;
  background: #F6F6F6;
  z-index: 10;
}

.person__character .person .circle .circle__img {
  position: absolute;
  width: 365px;
  height: 565px;
  left: 54.5px;
  top: -59.5px;
  mix-blend-mode: normal;
}

.person__character .person .circle .update {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 21px;
  top: 345px;
  border-radius: 50%;
  background: #DEDEDE;
}

.person__character .person .circle .update .updete__img {
  margin-top: 5px;
  width: auto;
  height: auto;
}

.person__character .character__text {
  width: 40%;
  height: 100%;
  padding-left: 28px;
}

.person__character .character__text .name {
  font-style: normal;
  font-weight: bold;
  margin-top: 115px;
  font-size: 36px;
  line-height: 133%;
  color: #1E3C72;
}

.person__character .character__text .text__cap {
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 133%;
  color: #1E3C72;
}

.person__character .character__text .block__text {
  width: 381px;
  height: 307px;
  margin-top: 22px;
}

.person__character .character__text .block__text .text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 186.5%;
  color: #375D9F;
}

.person__character .character__text .btn {
  width: 256px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.person__character .character__text .btn button {
  width: 79.58px;
  height: 36.35px;
  background: -webkit-gradient(linear, right top, left top, from(#BB52C9), to(#35519C));
  background: linear-gradient(270deg, #BB52C9 0%, #35519C 100%);
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 133%;
  color: #FFFFFF;
  cursor: pointer;
}

.person__character .character__text .btn button img {
  margin-top: 3px;
  width: 17px;
  height: 19px;
}

.person__character .character__text .btn button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block__universe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1437px;
  height: 808px;
  border: solid silver 1px;
  background-image: url(../img/bg.png);
  background-size: cover;
}

.block__universe .hexagon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 253px;
  height: 288px;
  background-image: url("../img/Polygon 1.png");
}

.block__universe .hexagon .block__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px 0 10px;
  top: 72px;
  width: 252px;
  height: 143px;
}

.block__universe .hexagon .block__text .active {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 157.5%;
  text-align: center;
  color: #FFFFFF;
}

.block__universe .hexagon .block__text .hover {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 165%;
  text-align: center;
  color: #1E3C72;
}

.block__universe .hexagon:hover {
  background-image: url("../img/Polygon 1 — white.png");
}

.block__universe .hexagon:hover .active {
  display: none;
}

.block__universe .hexagon:hover .hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block__universe .hexagon_1 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 163px;
  left: 165px;
  z-index: 2;
}

.block__universe .hexagon_2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 163px;
  left: 448px;
  z-index: 2;
}

.block__universe .hexagon_3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 163px;
  left: 733px;
  z-index: 2;
}

.block__universe .hexagon_4 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 163px;
  left: 1018px;
  z-index: 2;
}

.block__universe .hexagon_5 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 410px;
  left: 305px;
  z-index: 1;
}

.block__universe .hexagon_6 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 410px;
  left: 593px;
  z-index: 1;
}

.block__universe .hexagon_7 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 410px;
  left: 879px;
  z-index: 1;
}

.block__touch {
  height: 420px;
  width: 1437px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__touch .touch__cap {
  margin-top: 66px;
}

.block__touch .touch__cap p {
  font-style: normal;
  font-weight: 900;
  font-size: 39px;
  line-height: 133%;
  color: #1E3C72;
}

.block__touch .touch__text {
  width: 600px;
  height: 60px;
  margin-top: 30px;
}

.block__touch .touch__text p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 165%;
  text-align: center;
  color: #375D9F;
}

.block__touch .touch__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1121px;
  height: 60px;
  margin-top: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block__touch .touch__btn button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 270px;
  height: 57px;
  background: -webkit-gradient(linear, left top, right top, from(#3B529E), to(#CE51CE));
  background: linear-gradient(90deg, #3B529E 0%, #CE51CE 100%);
  border-radius: 100px;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.block__touch .touch__btn button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.block__news {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1437px;
  height: 392px;
  background: #1E3C72;
}

.block__news .block__news__center {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__news .block__news__center .news__cap {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 62px;
}

.block__news .block__news__center .block__text {
  width: 493px;
  height: 60px;
  margin-top: 18px;
}

.block__news .block__news__center .block__text .news__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 165%;
  text-align: center;
  color: #FFFFFF;
}

.block__news .block__news__center .news__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 540px;
  height: 62px;
  margin-top: 60px;
  background-color: #FFFFFF;
  border-radius: 50px;
}

.block__news .block__news__center .news__form input {
  width: 280px;
  height: 50px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 167%;
  outline: none;
  border: none;
}

.block__news .block__news__center .news__form button {
  width: 206px;
  height: 54px;
  background: -webkit-gradient(linear, left top, right top, from(#4152A1), to(#C251CB));
  background: linear-gradient(90deg, #4152A1 0%, #C251CB 100%);
  border-radius: 100px;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 167%;
  color: #202020;
}

.block__news .block__news__center .news__form button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}
/*# sourceMappingURL=main.css.map */