*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.slick-list {
	overflow: hidden;
    height: 150px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.slick-track{
	display: flex;
	align-items: flex-start;
}

.slider {
	position: relative;
	padding: 0px 60px;
}

.slider .slick-arrow{
	position: absolute;
	top: 65%;
	font-size: 0;
	width: 20px;
	height: 50px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/Vector.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/Vector.png') 0 0 / 100% no-repeat;
    transform: scaleX(-1);
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
